.customer-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 10px #ccc;
  width: 400px;
  margin: 20px auto;
  text-align: left;
  background-color: #b9936c;
  }

  .card {
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
  }

  .card-header {
    background-color: #3e4444;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  .card-body {
    padding: 10px;
    background-color: #c1946a;
  }

  .card-body span {
    font-weight: bold;
  }
